<section class="artist-bio">
    <div class="artist-image">
      <img src="assets/Vasily Kandinsky.jpg" alt="Vasily Kandinsky">
    </div>
    <div class="artist-details">
      <h2 class="artist-name">Vasily Kandinsky</h2>
      <p class="artist-birthdate">Born: December, 1853</p>
      <p class="artist-birthplace">Place of Birth: Zundert, Netherlands</p>
      <p class="artist-description">
        Vasily Kandinsky was a pioneer in abstract art and is often credited with creating some of the first truly abstract paintings. He was a prominent figure in the early 20th-century art movement known as "Abstract Expressionism."      </p>
      <p class="artist-famous-works">
        Some of his famous works include "The Blue Rider", "Circles in a Circle", "Several Circles" and "The Blue Mountain"
      </p>
    </div>
</section>
<div *ngIf="showReviews">
<app-reviews></app-reviews>
</div>
