<div class="response-container">
    <h2>Order responses</h2>
    <div class="response-data">
        <ul class="response-list">
            <li *ngFor="let response of responses; let last = last" class="response-item">
                <div class="response-item">
                    <h3>Email: <i>{{ response.email }}</i></h3>
                </div>
                <div class="answer">
                    <p>“{{ response.answer }}”</p>
                </div>
                <div class="horizontal-line" *ngIf="!last"></div>
            </li>
        </ul>
    </div>
</div>
