<nav class="navbar">
  <ul>
    <li class="liRef">
      <a class="reffka" routerLink="" routerLinkActive="active-link">Home</a>
    </li>
    <li class="liRef">
      <a class="reffka" routerLink="/about" routerLinkActive="active-link">About</a>
    </li>
    <li class="liRef">
      <a class="reffka" routerLink="/gallery" routerLinkActive="active-link">Arts</a>
    </li>
    <li class="liRef">
      <a class="reffka" routerLink="/reviews" routerLinkActive="active-link">Reviews</a>
    </li>
    <li class="liRef">
      <a class="reffka" routerLink="/contact" routerLinkActive="active-link">Contacts</a>
    </li>
    <li class="liRef">
      <a class="reffka" routerLink="/order" routerLinkActive="active-link">Orders</a>
    </li>
    <li class="liRef">
      <a class="reffka" routerLink="/order-information" routerLinkActive="active-link">List of orders</a>
    </li>
  </ul>
</nav>
