*{
    background-color: #676767;
    color:#ff9900;
}
  
  h2 {
    margin-top: 20px;
    text-align: center;
  }
  .reviews-data{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reviews-list {
    max-width: 400px;
    list-style: none;
    padding: 0;
  }
  
  .review-item {
    padding: 10px;
    margin: 10px 0;
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h3 {
    font-size: 18px;
    padding:10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .review-score {
    background-color: #444;
    text-align: center;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .review-text {
    max-width: 400px;
    font-size: 18px;
    padding:10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .horizontal-line{
    border: 1px solid #444;
    width: 100%;
  }
  